* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f6fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

header {
    padding: 20px;
}

label {
    color: #7e7e7e;
    font-size: 0.85rem;
    font-weight: 400;
}

p {
    font-size: 1.3rem;
    font-weight: 500;
}

button {
    padding: 12px 30px;
    margin: 4px;
    border-radius: 13px;
    border: none;
    font-weight: 500;
    color: white;
    background-color: #8276ff;
    flex-grow: 1;
}

ul {
    max-width: 250px;
    padding: 10px;
}

li {
    list-style-type: none;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 2px;
    word-break: normal;
    text-align: center;
}

option {
    margin: 5px;
}

select {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #f5f6fa;
    color: #5f5f5f;
    margin: 20px 0;
}

select:after {
    right: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 25px 40px;
    margin: 10px;
}

.card-info {
    margin: 10px 0px;
}

.card-buttons {
    display: flex;
    margin-top: auto;
}

#main-section {
    display: flex;
}

#left-section {
    display: flex;
    flex-direction: column;
    width: 25rem;
    min-width: 25rem;
}

#computer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#computer-description {
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 700;
}

#computer-img {
    flex-grow: 1;
    max-width: 250px;
    height: auto;
}

#computer-specs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#computer-buy-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#pay-loan-btn {
    display: none;
    background-color: red;
}

#loan-balance {
    color: red;
}

#loan-balance-info {
    display: none;
}

#right-section {
    flex-grow: 1;
}

#laptops-card {
    height: calc(100% - 70px);
}
